body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(4, 88, 70);
}

.container {
  width: 400px;
  height: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  color: white;
}

button {
  width: 200px;
  height: 70px;
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  border-radius: 20px;
  border: none;
  color: white;
  background: rgb(12, 172, 78);
}
