.card {
  width: 500px;
  height: 400px;
  border: 2px solid black;
  border-radius: 15px;
}

.top {
  background: green;
}

.bottom {
  background: rgb(143, 216, 143);
}

.card-img {
  margin: 30px 30px 0 0;
  display: flex;
  align-items: flex-end;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.info {
  color: gray;
}
