/* .container {
  width: 500px;
  height: 400px;
  border: 2px solid black;
  border-radius: 15px;
}

.card-img {
  margin: 30px 30px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 120px;
} */
