* {
  margin: 0;
  padding: 0;
  border: box-sizing;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.heading {
  font-size: 43px;
  font-weight: 300;
  margin-bottom: 40px;
}

.card {
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.top {
  background: rgb(1, 39, 1);
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: gray;
}

.circle-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid white;
}

.bottom {
  background: rgb(74, 146, 74);
  height: 150px;
  color: black;
}

.info {
  padding: 10px;
}
