body {
  text-align: center;
  background-color: #283149;
}
button {
  padding: 2.5rem;
  color: red;
  font-size: 3rem;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-size: "Arvo", cursive;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.w {
  background-image: url(images/drum1.jpg);
  background: cover;
}

.a {
  background-image: url(images/drum2.jpg);
}

.s {
  background-image: url(images/drum3.png);
}

.d {
  background-image: url(images/drum4.png);
}

.i {
  background-image: url(images/drum5.png);
}

.k {
  background-image: url(images/drum6.png);
}

.l {
  background-image: url(images/drum6.jpg);
}
